ion-card-subtitle.faction-short {
    font-style: italic;
}

ion-chip.register-faction {
    width: auto;
    height: 3em;
    padding-left: 0;
}

ion-label.register-faction {
    font-size: 1.5em;
    width: auto;
    padding-left: .5em;
}

.faction-chip {
    height: 4em;
}

.faction-chip ion-avatar{
    width: 3.5em;
    height: 3.5em;
    border: 0.2em solid grey;
}

.resource-bar ion-chip {
    margin-left: 0;
    width: auto;
}

.resource-progress-bar ion-note {
    padding: 0 0.2rem 0.2rem 0.2rem;
    margin: 0.2rem 0.2rem 0 0.2rem;
}

.resource-progress-bar ion-label {
    padding: 0 0.2rem 0.4rem 0.2rem;
    margin: 0 0.2rem 0.4rem 0.2rem;
}

.resource-progress-bar > * >
ion-progress-bar{
    --background: var(--ion-color-danger);
    --progress-background: var(--ion-color-success);
    height: 1rem;

}
.resource-progress-bar > * >
::part(stream) {
    background: #00000000;
}

.resource-progress-bar > ion-note:nth-child(1){
    justify-content:  right;
    color: #0f8;
    width: 20px;
}

.resource-progress-bar > ion-note:nth-child(even){
    justify-content:  left;
}